<div align="right">
	<nav class="navbar navbar-expand-lg navbar-light bg-light"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div align="right" class="collapse navbar-collapse"
			id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

				<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home</a>
				</li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"
					th:href="@{/productList}"> Product List </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/byCategory?cateId=0}">All</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" th:href="@{/byCategory?cateId=3}">Apertiser</a>
						<a class="dropdown-item" th:href="@{/byCategory?cateId=1}">Main
							course</a> <a class="dropdown-item" th:href="@{/byCategory?cateId=2}">Desert</a>
						<div class="dropdown-divider"></div>
						<th:block th:if="${#request.userPrincipal != null}"
							sec:authorize="hasRole('ROLE_ADMIN')">
							<a class="dropdown-item" th:href="@{/newProduct}"> Create
								Product </a>
						</th:block>
					</div></li>

				<th:block th:if="${#request.userPrincipal == null}">
					<li class="nav-item"><a class="nav-link"
						th:href="@{/shoppingCart}"> My Cart </a></li>
				</th:block>

				<th:block th:if="${#request.userPrincipal != null}">
					<li class="nav-item"><a class="nav-link"
						th:href="@{/orderList}"> Order List </a></li>
				</th:block>

				<th:block th:if="${#request.userPrincipal != null}"
					sec:authorize="hasRole('ROLE_EMPLOYEE')">
					<li class="nav-item"><a class="nav-link" th:href="@{/empList}">
							Employee list </a></li>
				</th:block>
				<th:block th:if="${#request.userPrincipal != null}"
					sec:authorize="hasRole('ROLE_ADMIN')">
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false" th:href="@{/empList}">
							Employee </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:href="@{/list}">All</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/empList}">Employees</a> <a
								class="dropdown-item" th:href="@{/adminList}">Admins</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/disabledList}">Disabled</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/addEmployee}"> Add a new
								Employee </a>
						</div></li>

				</th:block>
				<th:block th:if="${#request.userPrincipal != null}">
					<li class="nav-item"><a class="nav-link"
						th:href="@{/accountInfo}">Account info</a>
				</th:block>

			</ul>
		</div>
	</nav>
</div>