<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Confirme purchase</title>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

	<th:block th:include="/_header"></th:block>
	<th:block th:include="/_menu"></th:block>

	<div class="page-title">Confirme the purchase</div>
	<div th:if="${mesage!= null}" class="error-message" th:utext="${message}"></div>

	<form th:object="${order}" th:action="@{/confirmPurchase}"
		method="POST">
		<table style="text-align: left;">
			<tr>
				<td>Code *</td>
				<td><input type="number" th:field="*{conCode}"
					required="required" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" class="btn btn-success" value="Submit" /></td>
			</tr>
		</table>
	</form>

	<th:block th:include="/_footer"></th:block>

</body>
</html>