<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Account Info</title>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

	<th:block th:include="/_header"></th:block>
	<th:block th:include="/_menu"></th:block>

	<div class="page-title">Account Info</div>
	<div class="account-container">
		<form th:object="${employee}" th:action="@{/updateAccount}"
			method="POST" enctype="multipart/form-data">
			<table>

				<tr>
					<td>Name</td>
					<td><input
						pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$"
						title="Name must be without any number" type="text"
						th:field="*{empName}" required="required"></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
						title="Email must have @'email service'.com" type="email"
						th:field="*{email}" required="required"></td>
				</tr>
				<tr>
					<td>Phone</td>
					<td><input pattern="^//d{9}*$"
						title="Phone must have 9 numbers no nore no less" type="number"
						th:field="*{phone}" required="required"></td>
				</tr>
				<tr>
					<td>Address</td>
					<td><input type="text" th:field="*{address}"
						required="required"></td>
				</tr>
				<tr>
					<td>Date of birth</td>
					<td><input type="date" th:field="*{dob}" required="required"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="hidden" th:field="*{id}" /></td>
				</tr>
				<tr>
					<td>Picture</td>
					<td><input type="file" th:field="*{image}"></td>
				</tr>
			</table>
			<div align="right">
				<input type="submit" class="btn btn-outline-primary" value="Update">
			</div>
		</form>

	</div>
	<th:block th:include="/_footer"></th:block>
</body>
</html>