<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Order List</title>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
	<th:block th:include="/_header"></th:block>
	<th:block th:include="/_menu"></th:block>

	<div class="page-title" align="center">
		<h2 align="center">Order List</h2>
	</div>
	<div align="right">
		Total Employees Count: <span th:utext="${totalRecord}"></span>
	
	<div align="center" th:if="${message!= null}" style="color: green;" th:utext="${message}"></div>
		<form class="form-inline my-2 my-lg-0" th:action="@{/empSearch}" th:object="${search}">
			<input class="form-control mr-sm-2" type="search"
				placeholder="Search" aria-label="Search" name = "search" id="search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
	<div align="center" th:if="${error!= null}" class="error-message" th:utext="${error}"></div>
	<br>
	<table border="1" style="width: 100%">
		<tr>
			<th>Emp ID</th>
			<th>Emp Name</th>
			<th sec:authorize="hasRole('ROLE_ADMIN')">Emp Address</th>
			<th>Emp Email</th>
			<th>Emp phone</th>
			<th>Date of birth</th>
			<th sec:authorize="hasRole('ROLE_ADMIN')">Hire date</th>
			<th sec:authorize="hasRole('ROLE_ADMIN')">Salary</th>
			<th>Picture</th>
			<th sec:authorize="hasRole('ROLE_ADMIN')">Promotion</th>
			<th sec:authorize="hasRole('ROLE_ADMIN')">Deactivate account</th>
		</tr>
		<tr th:each="emp : ${list}">
			<td th:utext="${emp.id}"></td>
			<td th:utext="${emp.empName}"></td>
			<td sec:authorize="hasRole('ROLE_ADMIN')" th:utext="${emp.address}"></td>
			<td th:utext="${emp.email}"></td>
			<td th:utext="${emp.phone}"></td>
			<td th:utext="${emp.dob}"></td>
			<td sec:authorize="hasRole('ROLE_ADMIN')" th:utext="${emp.hire_date}"></td>
			<td style="color: red;" sec:authorize="hasRole('ROLE_ADMIN')"
				th:utext="${#numbers.formatDecimal(emp.salary,4,2,'COMMA')}">
			<td><img class="product-image"
				th:src="@{|/empImage?id=${emp.id}|}" /></td>
			<td sec:authorize="hasRole('ROLE_ADMIN')"><a
				th:href="@{|/promoteEmp?id=${emp.id}|}" class="btn btn-outline-success">Promote to Admin</a></td>
			<td sec:authorize="hasRole('ROLE_ADMIN')"><a
				th:href="@{|/disableEmp?id=${emp.id}|}" class="btn btn-outline-danger">Deactivate account</a></td>
		</tr>
	</table>
	<div>
		<th:block th:if="${pageSize < size}">
			<a th:if="${pageIndex > 1}"
				th:href="@{|/empList?page=${pageIndex-1}|}"> <-Back </a>
		&nbsp;&nbsp; <a th:if="${pageIndex < 2}"
				th:href="@{|/empList?page=${pageIndex+1}|}"> Next-> </a>
		</th:block>
	</div>

	<th:block th:include="/_footer"></th:block>

</body>
</html>