<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Product</title>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

	<th:block th:include="/_header"></th:block>
	<th:block th:include="/_menu"></th:block>

	<div class="page-title">Food/Product</div>
	<div th:if="${error!= null}" class="error-message" th:utext="${error}"></div>

	<form th:object="${foodForm}" th:action="@{/saveProduct}" method="POST"
		enctype="multipart/form-data">
		<table style="text-align: left;">
			<tr>
				<td>Food Name *</td>
				<td><input type="text" th:field="*{foodName}"
					required="required" /></td>

			</tr>
			<tr>
				<td>Food Category *</td>
				<td><select th:field="*{cateID}">
						<option th:each="category : ${categoryList}"
							th:value="${category.id}" th:utext="${category.name}" />
				</select></td>

			</tr>
			<tr>
				<td>Price *</td>
				<td><input th:field="*{price}" type="number"
					required="required" /></td>

			</tr>
			<tr>
				<td>Ingridients *</td>
				<td><ul>
						<li th:each="ingedients : ${list}">
							<div class="checkbox">
								<input type="checkbox" th:field="*{ingredients}"
									th:value="${ingedients.id}"><span
									th:utext="${ingedients.name}">..</span>
							</div>
					</ul></td>
			</tr>
			<tr>
				<td>Upload Image</td>
				<td><input type="file" th:field="*{image}" /></td>
				<td></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" class="btn btn-success" value="Submit" /></td>
			</tr>
		</table>
	</form>

	<th:block th:include="/_footer"></th:block>

</body>
</html>